@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&display=swap');

$blue: #3492eb;
$grey: #8fa0b0;

body {
  font-family: Ubuntu;
  margin: 5rem 1rem;
}

.title {
  font-size: 2.5rem;
  margin-bottom: 1rem;

  &__dropdown {
    text-decoration: underline;
    text-decoration-style: solid;
  }

  &__park {
    text-decoration-color: $blue;
  }

  &__time {
    text-decoration-color: $grey;
  }
}

.emojibuf {
  font-size: 4rem;
  margin: 4rem 0;
  text-align: center;
}

.suggestions {
  &__explanation {
    font-size: 0.8rem;
    font-weight: 300;
  }

  &__title {
    font-size: 2rem;
    margin: 3rem 0;
  }
}

.card {
  border: 1px solid grey;
  border-radius: 3px;
  padding: 1rem;
  margin-bottom: 2rem;

  &__title {
    font-size: 1.5rem;
    margin: 0.4rem 0 1rem;
  }

  &__pic {
    width: 100%;
  }

  &__subtitle {
    margin: 2rem 0;
  }

  &__claim-button {
    background-color: $blue;
    border: 1px solid grey;
    border-radius: 3px;
    color: white;
    margin: 0.2rem;
    padding: 0.5rem;
  }
}

@mixin card-color($color) {
  border-color: $color;
  box-shadow: inset 3px 3px $color, inset -3px -3px $color;
}

.card-orange {
  @include card-color(#e35b07);
}

.card-yellow {
  @include card-color(#ffda33);
}

.card-blue {
  @include card-color($blue);
}

.card-grey {
  @include card-color($grey);
}

.card-green {
  @include card-color(#03ad4d);
}
